defmodule Storybook.CoreComponents.List do
  use PhoenixStorybook.Story, :component

  def function, do: &<%= schema.core_components_module_name %>.list/1
  def render_source, do: :function

  def variations do
    [
      %Variation{
        id: :default,
        slots: [
          ~s|<:item title="Title">Elixir</:item>|,
          ~s|<:item title="Rating">5/5</:item>|
        ]
      }
    ]
  end
end
