  <.live_component 
    id="sidebar" module={PhxLiveStorybook.Sidebar}
    backend_module={@backend_module}
    current_path={assigns[:entry_path]}
  />

  <div id="live-container" class="lsb-left-60 lsb-absolute lsb-h-[calc(100vh_-_4rem)] lsb-w-[calc(100%_-_15rem)] lsb-px-12 lsb-overflow-auto">
    <%= @inner_content %>
  </div>