<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <%= csrf_meta_tag() %>
    <title><%= assigns[:page_title] || "Live Storybook" %></title>
    <style><%= raw(render("app.css")) %></style>
    <%= if path = storybook_css_path(@conn) do %>
      <link phx-track-static rel="stylesheet" href={path}/>
    <% end %>
    <style><%= raw(makeup_stylesheet(@conn)) %></style>
    <script src="https://kit.fontawesome.com/ca7a60e560.js" crossorigin="anonymous"></script>
  </head>

  <body class="lsb-overflow-hidden lsb-font-inter lsb-text-base lsb-text-gray-600 lsb-bg-white lsb-antialiased lsb-font-feature-default">
    <header class="lsb-sticky lsb-top-0 lsb-z-50 lsb-flex lsb-flex-wrap lsb-items-center lsb-justify-between lsb-bg-white lsb-px-4 lsb-py-5 lsb-shadow-md lsb-shadow-slate-900/5 lsb-transition lsb-duration-500 sm:lsb-px-6 lg:lsb-px-8 dark:lsb-bg-transparent">
      <div class="lsb-relative lsb-flex lsb-flex-grow lsb-basis-0 lsb-items-center lsb-text-indigo-600 lsb-text-lg lsb-font-bold lsb-uppercase">
        <%= live_redirect to: live_storybook_path(@conn, :home) do %>
          <i class="fa-regular fa-book-open"></i>
          <span class="lsb-ml-1"><%= title(@conn) %></span>
        <% end %>
      </div>
    </header>
     
    <%= @inner_content %>
  </body>

  <%= if path = storybook_js_path(@conn) do %>
    <script phx-track-static type="text/javascript" src={path}></script>
  <% end %>
  <script><%= raw(render("app.js")) %></script>
  
</html>
