<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <%= csrf_meta_tag() %>
    <%= render "_favicon.html", conn: @conn %>
    <%= live_title_tag assigns[:page_title] || "Home", prefix: "#{title(@conn)} - " %>
    <script defer src="https://kit.fontawesome.com/ca7a60e560.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={asset_path(@conn, "css/app.css")}/>
    <%= if path = storybook_css_path(@conn) do %>
      <link phx-track-static rel="stylesheet" href={application_static_path(@conn, path)}/>
    <% end %>
    <style><%= raw(makeup_stylesheet(@conn)) %></style>
  </head>

  <body class="lsb-wait-for-icons lsb-max-w-full lsb-overflow-hidden lsb-font-inter lsb-text-base lsb-text-gray-600 lsb-bg-white lsb-antialiased lsb-font-feature-default">
    <%= @inner_content %>
  </body>

  <%= if path = storybook_js_path(@conn) do %>
    <script phx-track-static type="text/javascript" src={application_static_path(@conn, path)}></script>
  <% end %>
  <script type="text/javascript" src={asset_path(@conn, "js/app.js")}></script>  
</html>
