<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", prefix: "#{title(@conn)} - " %>
    <script defer src="https://kit.fontawesome.com/ca7a60e560.js" crossorigin="anonymous"></script>
    <style><%= raw(render("app.css")) %></style>
    <%= if path = storybook_css_path(@conn) do %>
      <link phx-track-static rel="stylesheet" href={application_static_path(@conn, path)}/>
    <% end %>
    <style><%= raw(makeup_stylesheet(@conn)) %></style>
  </head>

  <body class="wait-for-icons lsb-overflow-hidden lsb-font-inter lsb-text-base lsb-text-gray-600 lsb-bg-white lsb-antialiased lsb-font-feature-default">

    <div class="lsb-absolute lsb-opacity-20 lsb-top-0 lsb-inset-x-0 lsb-flex lsb-justify-center lsb-overflow-hidden lsb-pointer-events-none">
      <div class="lsb-w-[108rem] lsb-flex-none lsb-flex lsb-justify-end">
        <%= render "_background.html", class: "lsb-w-[71.75rem] lsb-flex-none lsb-max-w-none" %>
      </div>
    </div>
    
    <header class="lsb-sticky lsb-top-0 lsb-z-50 lsb-flex lsb-flex-wrap lsb-items-center lsb-justify-between lsb-bg-white lsb-px-4 lsb-py-5 lsb-shadow-md lsb-shadow-slate-900/5 lsb-transition lsb-duration-500 sm:lsb-px-6 lg:lsb-px-8 lsb-opacity-80">
      <div class="lsb-relative lsb-flex lsb-flex-grow lsb-basis-0 lsb-items-center lsb-text-indigo-800 lsb-text-lg lsb-font-bold lsb-uppercase ">
        <%= live_patch to: live_storybook_path(@conn, :home) do %>
          <i class="fa-regular fa-book-open"></i>
          <span class="lsb-ml-1"><%= title(@conn) %></span>
        <% end %>
      </div>
    </header>
     
    <%= @inner_content %>
  </body>

  <%= if path = storybook_js_path(@conn) do %>
    <script phx-track-static type="text/javascript" src={application_static_path(@conn, path)}></script>
  <% end %>
  <script><%= raw(render("app.js")) %></script>
  
</html>
