<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <%= csrf_meta_tag() %>
    <title><%= assigns[:page_title] || "Live Storybook" %></title>
    <style><%= raw(render("app.css")) %></style>
  </head>

  <body class="lsb-overflow-hidden">
    <%= render("_sidebar.html", assigns) %>

    <div class="lsb-left-64 lsb-absolute lsb-h-screen lsb-main-container" style="width: calc(100% - 256px)">
      <%= @inner_content %>
    </div>
  </body>

  <script><%= raw(render("app.js")) %></script>
  
</html>
