<!DOCTYPE html>
<html
  lang="en"
  class="psb"
  phx-socket={live_socket_path(@conn)}
  data-color-mode={color_mode?(@conn)}
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"
    />
    <%= if csrf?(@conn) do %>
      {csrf_meta_tag()}
    <% end %>

    {render("_favicon.html", conn: @conn)}
    <.live_title prefix={title_prefix(@conn)}>
      {assigns[:page_title]}
    </.live_title>

    <%= if fa_kit_id = fa_kit_id(@conn) do %>
      <link
        rel="stylesheet"
        href={"https://kit.fontawesome.com/#{fa_kit_id}.css"}
        crossorigin="anonymous"
      />
    <% else %>
      <link
        nonce={csp_nonce(@conn, :style)}
        rel="stylesheet"
        href={asset_path(@conn, "css/fonts.css")}
      />
    <% end %>
    <%= if path = storybook_js_path(@conn) do %>
      <script
        nonce={csp_nonce(@conn, :script)}
        phx-track-static
        defer={storybook_js_type(@conn) == "module"}
        type={storybook_js_type(@conn)}
        src={application_static_path(path)}
      >
      </script>
    <% end %>
    <script
      nonce={csp_nonce(@conn, :script)}
      defer={storybook_js_type(@conn) == "module"}
      type="text/javascript"
      src={asset_path(@conn, "js/phoenix_storybook.js")}
    >
    </script>

    <link
      nonce={csp_nonce(@conn, :style)}
      rel="stylesheet"
      href={asset_path(@conn, "css/phoenix_storybook.css")}
    />
    <%= if path = storybook_css_path(@conn) do %>
      <style nonce={csp_nonce(@conn, :style)}>
        @import "<%= path %>" layer(app);
      </style>
    <% end %>
    <style nonce={csp_nonce(@conn, :style)}>
      <%= raw(makeup_stylesheet(@conn)) %>
    </style>
  </head>

  <body class="psb psb:max-w-full psb:overflow-hidden psb:bg-white psb:dark:bg-slate-900">
    {@inner_content}
  </body>
</html>
