<!DOCTYPE html>
<html lang="en" class="lsb" phx-socket={live_socket_path(@conn)}>
  
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <%= csrf_meta_tag() %>

    <%= render "_favicon.html", conn: @conn %>
    <.live_title prefix={title_prefix(@conn)}>
      <%= assigns[:page_title] %>
    </.live_title>

    <%= if fa_kit_id = fa_kit_id(@conn) do %>
      <script defer src={"https://kit.fontawesome.com/#{fa_kit_id}.js"} crossorigin="anonymous"></script>
    <% else %>
      <link rel="stylesheet" href={asset_path(@conn, "css/fonts.css")}/>
    <% end %>
    <%= if path = storybook_js_path(@conn) do %>
      <script phx-track-static type="text/javascript" src={application_static_path(path)}></script>
    <% end %>
    <%= if url = storybook_js_url(@conn) do %>
      <script phx-track-static type="text/javascript" src={url}></script>
    <% end %>
    <script type="text/javascript" src={asset_path(@conn, "js/app.js")}></script>  

    <link rel="stylesheet" href={asset_path(@conn, "css/app.css")}/>
    <%= if path = storybook_css_path(@conn) do %>
      <link phx-track-static rel="stylesheet" href={application_static_path(path)}/>
    <% end %>
    <%= if url = storybook_css_url(@conn) do %>
      <link rel="stylesheet" href={url}/>
    <% end %>
    <style><%= raw(makeup_stylesheet(@conn)) %></style>
  </head>

  <body class={["lsb lsb-max-w-full lsb-overflow-hidden", wait_for_icons?(@conn)]}>
    <%= @inner_content %>
  </body>
</html>
