/* 
 * This is your custom storybook stylesheet.
 * Put your component styling under .<%= inspect schema.sandbox_class %> scope. 
 * See the https://hexdocs.pm/phx_live_storybook/sandboxing.html guide for more info.
 */

.<%= schema.sandbox_class %> {
  font-family: ui-sans-serif, system-ui;
}
