/*
 * This is your custom storybook stylesheet.
 * Put your component styling under .<%= schema.sandbox_class %> scope.
 * See the https://hexdocs.pm/phoenix_storybook/sandboxing.html guide for more info.
 */

.<%= schema.sandbox_class %> {
  font-family: system-ui;
}
